.bracketButton {
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
}

.bracketButton:focus {
  background-color: #f1e8e8;
  border: 1.5px solid rgb(229, 229, 229);
  color: black;
}

.bracketGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
