body {
  background-color: black;
}

.chart {
  display: flex;
  width: 45%;
  height: 100%;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.3); /* white with a bit of opacity */
}

.chart_container {
  display: flex;
  height: 500px;
  justify-content: space-around;
  margin-top: 2%;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .chart_container {
    flex-direction: column;
    height: 1000px;
  }

  .chart {
    width: 100%;
    margin-top: 2%;
  }
}
